.login-section{
    width: 500px;
    padding: 2rem 1rem;
    margin: 50px auto;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

h1{
    font-size: 2rem;
    color: #000;
    margin: 1.2rem;
    position: relative;
}

h1::after {
    content: "";
    position: absolute;
    width: 40%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: var(--light-peach);
    left: 0; 
    right: 0;
}


form input{
    width: 70%;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #e4e4e4;
    margin-top: 10px;
}


.login-button{
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    width: 70%;
    background-color: var(--dark-blue);
    color: #fff;
    cursor: pointer;
}

.login-button:hover{
    background: rgba(17, 107, 143, 0.877);
}

input:focus{
    border: 1px solid rgb(192, 192, 192);
}


.member{
    font-size: 0.8rem;
    margin-top: 1.4rem;
    color: var(--dark-gray);
}

.member a{
    color: rgb(6, 9, 212);
    text-decoration: none;
}

.recover{
    text-align: center;
    font-size: 0.7rem;
    margin: 0.3rem 1.4rem 0 0;
}

.recover a{
    text-decoration: none;
    color: var(--dark-gray);
}